.wishList {
    text-align: center;
    background-color: darkcyan;
    margin-left: 40rem;
    margin-right: 40rem;
    
}
.searchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    /* color: black; */
  }

.find {
    padding-top: 2rem;
    text-align: center;
}

.whichList {
    color:white;
}

.list {
    font-size: 1.5rem;
    text-align: center;
    background-color: darkcyan;
    margin-top: 1.5rem;
    margin-left: 30rem;
    margin-right: 30rem;
    border: 2px solid white;
    border-radius: 10px;
    padding-bottom: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

.newListForm {
    background-color:darkcyan;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2rem;
  }