.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 18rem; */
    /* align-content: center; */
    /* align-items: center; */
    gap: 20px 15px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .item-card {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:darkcyan;
    border: 2px solid white;
    border-radius: 10px;
    
  }
  
  .item-img {
    height: 20rem;
    width: 20rem;
    margin: 1rem;
    /* box-shadow: 4px 3px 4px gray; */
    cursor: pointer;
  }
  
  /* .item-img:hover {
    box-shadow: 3px 2px 3px gray;
  } */
  
  .itemDetails {
    font-size: 1rem;
    padding: 0.75rem; 
    background-color: cadetblue; 
    text-align: center;
  }

  .item-name {
    overflow: scroll;
  }

  .welcome {
    text-align: center;
    background-color: hsla(0,0%,100%,0.40);
    border-radius: 10px;
    border: 2px solid white;
   
  }


  .objLink {
    color:white;
}
  