body {
  margin: 0;
  font-family: 'Covered By Your Grace', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
  background-image: url("https://wallpaperaccess.com/full/1272920.jpg");
  background-attachment:fixed;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


